extends ./header.jade

block content
	body
		.container
			.row
				.col-md-5.col-md-offset-5
					h1 do something
					a(class="btn btn-default btn-lg", href="quotes") click for quotes


script(src='../vendor/jquery/dist/jquery.js')
script(src='../vendor/bootstrap/dist/js/bootstrap.js')
