extends ./header.jade

block content
body
	.container
		form(method="post" contact="contact/accept")
			.form-group
				input(type="submit" value="stock value")


script(src='../vendor/jquery/dist/jquery.js')
script(src='../vendor/bootstrap/dist/js/bootstrap.js')
