extends ./header.jade

block content
	body
		.container
			.row
				.col-md-5.col-md-offset-4
					form(action="/quotes" method="post" )
						.form-group.down
							input(type='text', name="name", placeholder='name')
							input(type="submit" value="stock value")

			.row.listQuote
				.col-md-4
					p #{name}
				.col-md-4
					p #{symbol}
				.col-md-4
					p #{price}

script(src='../vendor/jquery/dist/jquery.js')
script(src='../vendor/bootstrap/dist/js/bootstrap.js')
